.idea/
lab3/lab3_experimental.html
lab3/lab3_baclup.html
lab3/reference.html
lab3/sass/main_experimental.sass
lab3/sass/main_bacup.sass
lab3/css/main_experimental.css
lab3/css/main_experimental.css.map
lab3/css/main_bacup.css
lab3/css/main_bacup.css.map
lab3/img/menu-option-1.svg
lab3/img/menu-option-2.svg
