@font-face
  font-family: 'Zum-Zum'
  src: url('../fonts/ALS-Zum-Zum-Regular.otf') format('opentype')
  font-weight: normal
  font-style: normal

$green: #00FF19
$red: #FF0000
$yellow: #FFF500
$blue: #00fff3
$magenta: #ff00bf

.main-page
  display: flex
  align-items: center
  justify-content: space-between
  font-family: Zum-Zum, monospace
  background-color: $green
  color: $red
  flex-flow: column nowrap
  overflow: hidden
  width: 100vw
  height: 100vh
  z-index: 0
  margin: 0
  cursor: url("../img/cursor.png"), url("../img/cursor.cur"), auto

.content
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: space-between
  margin: 0 8%
  overflow: auto

.main-page__frame
  background: url("../img/frame.svg")
  background-size: 100% 100%
  width: 100vw
  height: 100vh
  position: fixed
  z-index: 100
  pointer-events: none

.header
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  width: 100%
  height: 7.5vmax
  margin-top: 5%
  padding: 1% 2% 1% 0
  z-index: 10
  overflow: visible

.header__logo
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  width: 7.5%
  overflow: visible
  cursor: url("../img/cursor.png"), url("../img/cursor.cur"), auto


.header__image
  height: 100%
  width: 100%
  object-fit: contain

.menu
  display: flex
  flex-flow: row nowrap
  align-items: flex-start
  justify-content: flex-end
  width: 40%
  height: 100%
  overflow: visible

.dropdown
  background: url("../img/menu-option.svg")
  background-size: 0 0
  display: flex
  flex-flow: column
  width: 100%
  margin: auto
  padding: 5%
  transition: .025s
  z-index: 11

.dropdown:hover
  background-size: 100% 100%
  transition: .25s

.dropdown__header
  text-decoration: none
  width: 100%
  font-size: 1.5vmax
  white-space: nowrap
  color: $red
  cursor: url("../img/cursor.png"), url("../img/cursor.cur"), auto
  transition: .25s

.dropdown:hover .dropdown__header
  background-color: $red
  color: $yellow
  letter-spacing: 2vmax
  transition: .25s

.dropdown__content
  display: flex
  flex-flow: column nowrap
  align-items: flex-start
  transition: .25s

.dropdown__item
  width: 100%
  text-decoration: none
  color: $blue
  font-size: 0
  cursor: url("../img/cursor.png"), url("../img/cursor.cur"), auto
  transition: .25s

.dropdown:hover .dropdown__content
  background-color: $red
  transition: .25s

.dropdown:hover .dropdown__item
  font-size: 1vmax
  transition: .25s

.dropdown__item:hover
  color: $green
  letter-spacing: 2vmax

.main
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  width: 100%
  padding-top: 1%
  z-index: 2

.book
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: space-around
  width: 100%
  z-index: 3

.book__title
  text-align: center
  white-space: nowrap
  font-size: 2.5vmax
  margin: 0
  padding: 1.5% 1.5% 0
  border-width: 1vmax
  border-style: solid
  border-color: $magenta
  border-image: initial
  z-index: 4

.book__part-title
  display: flex
  align-items: center
  white-space: nowrap
  font-size: 2vmax
  line-height: 150%
  color: $green
  background-color: $blue

.book__part
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  flex-flow: column nowrap
  padding: 1.5% 0

.book__chapter-title
  display: flex
  align-items: center
  white-space: nowrap
  font-size: 1.5vmax
  line-height: 150%
  color: $blue

.book__chapter
  text-align: justify
  font-size: 1.2vmax
  padding: 1.5% 2% 0

.footer
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  bottom: 0
  width: 100%
  margin: 7.5%
  flex-flow: row wrap

.footer__item
  font-size: 1vmax

.footer__item_disabled
  color: $green
  transition: .5s

.footer__item_disabled:active
  color: $red
  transition: .5s

/* Tablet landscape ----------- */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (min-device-height: 768px) and (max-device-height: 1024px)
  .main-page__frame
    background: url("../img/frame-mobile.svg")
    background-size: 100% 100%

  .dropdown__header
    pointer-events: none


/* Tablet portrait ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-device-height: 1024px) and (max-device-height: 1366px)
  .main-page__frame
    background: url("../img/frame-mobile.svg")
    background-size: 100% 100%

  .header
    margin-top: 10%

  .dropdown__header
    pointer-events: none

  .dropdown:hover .dropdown__header
    letter-spacing: 1vmax

  .mCS-main.mCSB_scrollTools
    height: 50%


/* Smartphone landscape ----------- */
@media only screen and (min-device-width: 568px) and (max-device-width: 823px) and (min-device-height: 320px) and (max-device-height: 425px)
  .main-page__frame
    background: url("../img/frame-mobile.svg")
    background-size: 100% 100%

  .dropdown__header
    pointer-events: none

  .dropdown:hover .dropdown__header
    letter-spacing: 1.5vmax


/* Smartphone portrait ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 425px) and (min-device-height: 568px) and (max-device-height: 823px)
  .main-page__frame
    background: url("../img/frame-mobile.svg")
    background-size: 100% 100%

  .header
    margin-top: 10%

  .dropdown__header
    pointer-events: none

  .dropdown:hover .dropdown__header
    letter-spacing: initial

  .mCS-main.mCSB_scrollTools
    height: 25%