@font-face
  font-family: 'Zum-Zum'
  src: url('../fonts/ALS-Zum-Zum-Regular.otf') format('opentype')
  font-weight: normal
  font-style: normal

$green: #00FF19
$red: #FF0000
$yellow: #FFF500
$blue: #00fff3
$magenta: #ff00bf

.main-page
  display: flex
  align-items: center
  justify-content: space-between
  font-family: Zum-Zum, monospace
  background-color: $green
  color: $red
  flex-flow: column nowrap
  margin: 0
  overflow: auto

.main-page::-webkit-scrollbar
  width: 1%

.main-page::-webkit-scrollbar-thumb
  background-color: $blue

.main-page::-webkit-scrollbar-track
  background-color: $magenta

.header
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  width: 100%
  height: 7.5vmax
  padding: 1%
  background-color: $yellow

.menu
  display: flex
  flex-flow: row nowrap
  align-items: flex-start
  justify-content: space-between
  width: 30%
  height: 100%
  font-size: 1.5vmax
  overflow: visible

.dropdown__content
  display: none

.dropdown:hover .dropdown__content
  display: flex
  flex-flow: column
  position: absolute

.main
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  width: 100%
  padding-top: 1%

.book
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: space-around
  width: 100%

.book__title
  text-align: center
  white-space: nowrap
  font-size: 2.5vmax
  margin: 0
  padding: 1.5% 1.5% 0
  border-width: 1vmax
  border-style: solid
  border-color: $magenta
  border-image: initial

.book__part-title
  display: flex
  align-items: center
  white-space: nowrap
  font-size: 2vmax
  line-height: 150%
  color: $green
  background-color: $blue

.book__part
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  flex-flow: column nowrap
  padding: 1.5%

.book__chapter-title
  display: flex
  align-items: center
  white-space: nowrap
  font-size: 1.5vmax
  line-height: 150%
  color: $blue

.book__chapter
  text-align: justify
  font-size: 1.2vmax
  padding: 1.5% 2% 0

//.article
//  display: flex
//  align-items: center
//  justify-content: space-between
//  box-sizing: border-box
//  flex-flow: column nowrap
//  padding: 1.5%
//
//.article__title
//  display: flex
//  align-items: center
//  white-space: nowrap
//  font-size: 1.5vmax
//  line-height: 150%
//  color: $green
//  background-color: $blue
//  margin: 0
//
//.article__text
//  display: flex
//  text-align: justify
//  font-size: 1.2vmax
//  padding: 1.5% 2% 0
//
//.cards
//  display: flex
//  align-items: center
//  justify-content: center
//  width: 100%
//  flex-flow: column nowrap
//
//.cards__title
//  display: flex
//  align-items: center
//  white-space: nowrap
//  font-size: 1.5vmax
//  line-height: 150%
//  color: $green
//  background-color: $magenta
//  margin: 0
//
//.cards-container
//  display: flex
//  align-items: center
//  justify-content: space-around
//  width: 100%
//  box-sizing: border-box
//  flex-flow: row nowrap
//  margin: 0
//  padding: 5% 2.5%
//
//.card
//  display: flex
//  align-items: center
//  justify-content: space-between
//  width: 20%
//  height: 100%
//  flex-flow: column nowrap
//  border-radius: 10px
//  padding: 1%
//  transition: .5s
//
//.card:hover
//  transform: scale(1.25)
//  border-radius: 10px
//  box-shadow: 0 0 10px $magenta
//  transition: 0.5s
//
//.card__image
//  width: 100%
//
//.card__title
//  display: flex
//  align-items: center
//  font-size: 1.5vmax
//
//.card__description
//  display: flex
//  text-align: justify
//  font-size: 1vmax

.footer
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  bottom: 0
  width: 100%
  background-color: $yellow
  flex-flow: row wrap

.footer__item
  font-size: 1vmax

.footer__item_disabled
  color: $yellow
  transition: 5s

.footer__item_disabled:active
  color: $red
  transition: .5s