body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 900px 500px 515px 515px 500px 400px 515px 400px;
  grid-template-areas: "header header header header" "gallery-photo-1 gallery-photo-1 gallery-sign gallery-sign" "gallery-photo-2 gallery-photo-3 gallery-photo-4 gallery-photo-5" "gallery-sign-instagram gallery-sign-instagram gallery-photo-6 gallery-spacer";
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  height: 100%;
}

.header {
  grid-area: header;
  position: relative;
  background: url("../img/header.png") right center no-repeat;
  object-fit: cover;
  background-size: cover;
}
.header-effect {
  position: absolute;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.header .icon-and-menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 5.5% 14.6875% 0 14.6875%;
}
.header .menu-button {
  z-index: 10;
  transition: 0.25s;
}
.header .menu-button:hover {
  transform: scale(1.05);
  transition: 0.25s;
}
.header h1 {
  font-weight: 300;
  font-size: 72px;
  margin: 12.5% 0 0 14.6875%;
}
.header h2 {
  font-weight: 300;
  font-size: 30px;
  margin: 1.6875% 0 0 14.6875%;
}

.gallery-photo-1 {
  grid-area: gallery-photo-1;
  background: url("../img/gallery-photo-1.png") right center no-repeat;
  object-fit: cover;
  background-size: cover;
}

.gallery-photo-2 {
  grid-area: gallery-photo-2;
  background: url("../img/gallery-photo-2.png") right center no-repeat;
  object-fit: cover;
  background-size: cover;
}

.gallery-photo-3 {
  grid-area: gallery-photo-3;
  background: url("../img/gallery-photo-3.png") right center no-repeat;
  object-fit: cover;
  background-size: cover;
}

.gallery-photo-4 {
  grid-area: gallery-photo-4;
  background: url("../img/gallery-photo-4.png") right center no-repeat;
  object-fit: cover;
  background-size: cover;
}

.gallery-photo-5 {
  grid-area: gallery-photo-5;
  background: url("../img/gallery-photo-5.png") right center no-repeat;
  object-fit: cover;
  background-size: cover;
}

.gallery-photo-6 {
  grid-area: gallery-photo-6;
  background: url("../img/gallery-photo-6.png") right center no-repeat;
  object-fit: cover;
  background-size: cover;
}

.gallery-photo-7 {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 5;
  background: url("../img/gallery-photo-7.png") right center no-repeat;
  object-fit: cover;
  background-size: cover;
  z-index: 0;
}

.gallery-sign {
  grid-area: gallery-sign;
  background-color: #f3f1ef;
}
.gallery-sign h3 {
  font-weight: 700;
  font-size: 24px;
  margin: 14.125% 0 0 7.125%;
}
.gallery-sign p {
  font-weight: 300;
  font-size: 36px;
  margin: 5.125% 0 0 7.125%;
}

.gallery-sign-instagram {
  grid-area: gallery-sign-instagram;
  background-color: #3f729b;
  color: white;
  font-family: "Fira Sans", sans-serif;
}
.gallery-sign-instagram h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  margin: 15.5% 0 0 26.375%;
}
.gallery-sign-instagram p {
  font-weight: 300;
  font-size: 36px;
  margin: 5.375% 0 0 26.375%;
}
.gallery-sign-instagram button {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  height: 56px;
  width: 280px;
  border-radius: 28px;
  background: none;
  transition: 0.25s;
  margin: 4.625% 0 0 26.375%;
}
.gallery-sign-instagram button:hover {
  transform: scale(1.05);
  transition: 0.25s;
}

.gallery-sign-music {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #212227;
  z-index: 100;
  font-family: "Fira Sans", sans-serif;
  color: #2ebd59;
}
.gallery-sign-music h3 {
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 35% 0 0 14.75%;
}
.gallery-sign-music p {
  font-size: 14px;
  line-height: 21px;
  color: white;
  font-weight: 400;
  margin: 10.25% 0 0 14.75%;
}
.gallery-sign-music button {
  line-height: 32px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #2ebd59;
  color: #2ebd59;
  background: none;
  height: 48px;
  width: 176px;
  border-radius: 24px;
  margin: 13% 0 0 14.75%;
  transition: 0.25s;
}
.gallery-sign-music button:hover {
  transform: scale(1.05);
  transition: 0.25s;
}

.gallery-sign-spotify {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #2ebd59;
  color: white;
  font-family: "Fira Sans", sans-serif;
}
.gallery-sign-spotify h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  margin: 15.5% 0 0 26.375%;
}
.gallery-sign-spotify p {
  font-weight: 300;
  font-size: 36px;
  margin: 5.375% 0 0 26.375%;
}
.gallery-sign-spotify button {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  height: 56px;
  width: 280px;
  border-radius: 28px;
  background: none;
  transition: 0.25s;
  margin: 4.625% 0 0 26.375%;
}
.gallery-sign-spotify button:hover {
  transform: scale(1.05);
  transition: 0.25s;
}

.gallery-sign-itunes {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: #282b2f;
  color: white;
  font-family: "Fira Sans", sans-serif;
}
.gallery-sign-itunes h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  margin: 15.5% 0 0 26.375%;
}
.gallery-sign-itunes p {
  font-weight: 300;
  font-size: 36px;
  margin: 5.375% 0 0 26.375%;
}
.gallery-sign-itunes button {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  height: 56px;
  width: 280px;
  border-radius: 28px;
  background: none;
  transition: 0.25s;
  margin: 4.625% 0 0 26.375%;
}
.gallery-sign-itunes button:hover {
  transform: scale(1.05);
  transition: 0.25s;
}

.gallery-spacer-1 {
  grid-area: gallery-spacer;
  background-color: #3f729b;
}

.gallery-spacer-2 {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #282b2f;
  z-index: 100;
}

.gallery-spacer-3 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #212227;
}

/*# sourceMappingURL=main.css.map */
